<!doctype HTML>
<meta charset = 'utf-8'>
<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">    
    <script src='http://d3js.org/d3.v3.min.js' type='text/javascript'></script>
    <script src='http://d3js.org/topojson.v1.min.js' type='text/javascript'></script>
    <script src='http://datamaps.github.io/scripts/datamaps.all.min.js' type='text/javascript'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js' type='text/javascript'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js' type='text/javascript'></script>
    
    <style>
    .rChart {
      display: block;
      margin-left: auto; 
      margin-right: auto;
      width: 800px;
      height: 400px;
    }
    .container { margin-top: 20px; }
    .datamaps-legend dt{font-weight: normal; }

    </style>
    
  </head>
  <body ng-app ng-controller='rChartsCtrl'>
    
     
                   
                   <div class='container'>
                   <div class="btn-group" >
                   <button ng-repeat="value in years" ng-click='updateYear(value)'
                   class="btn btn-default" type="button" 
                   ng-model="value" btn-radio="value">
                  {{value}}
                   </button>
                   </div>
                   <div id='chart_1' class='rChart datamaps'></div>  
                   </div>
                   <script>
                   function rChartsCtrl($scope){
                   $scope.years = [2010, 2011, 2012]
                   $scope.year = $scope.years[0]
                   $scope.updateYear = function(x){
                   $scope.year = x
                   }
                   $scope.$watch('year', function(newYear){
                   mapchart_1.updateChoropleth(chartParams.newData[newYear]);
                   })
                   }
                   </script>      
    <script id='popup-template' type='text/x-handlebars-template'>
    
</script>
<script>
  var chartParams = {
 "dom": "chart_1",
"width":    800,
"height":    400,
"geographyConfig": {
 "dataUrl": "shapefiles/mx_states.json",
"popupTemplate":  function(geography, data) { //this function should just return a string
    return '<div class=hoverinfo>' + geography.properties.name + ': ' + data.prevalencia + '</div>';
    }   
},
"scope": "states",
"labels": true,
"bodyattrs": "ng-app ng-controller='rChartsCtrl'",
"setProjection":  function( element, options ) {
  
  var projection, path;
  
  projection = d3.geo.mercator()
  .center([-90, 24])
  .scale(element.offsetWidth)
  .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
  
  path = d3.geo.path()
  .projection( projection );
  
  return {path: path, projection: projection};
  } ,
"fills": {
 "[12620,19451]": "#FFFFB2",
"(19451,21576]": "#FECC5C",
"(21576,24753]": "#FD8D3C",
"(24753,28861]": "#F03B20",
"(28861,41048]": "#BD0026",
"defaultFill": "#BD0026" 
},
"data": {
 "AGS": {
 "state_code": 1,
"name": "AGS",
"state_name": "Aguascalientes",
"year":   2010,
"prevalencia": "36,387",
"fillKey": "(28861,41048]" 
},
"BC": {
 "state_code": 2,
"name": "BC",
"state_name": "Baja California",
"year":   2010,
"prevalencia": "30,753",
"fillKey": "(28861,41048]" 
},
"BCS": {
 "state_code": 3,
"name": "BCS",
"state_name": "Baja California Sur",
"year":   2010,
"prevalencia": "23,328",
"fillKey": "(21576,24753]" 
},
"CAM": {
 "state_code": 4,
"name": "CAM",
"state_name": "Campeche",
"year":   2010,
"prevalencia": "17,321",
"fillKey": "[12620,19451]" 
},
"COA": {
 "state_code": 5,
"name": "COA",
"state_name": "Coahuila de Zaragoza",
"year":   2010,
"prevalencia": "25,250",
"fillKey": "(24753,28861]" 
},
"COL": {
 "state_code": 6,
"name": "COL",
"state_name": "Colima",
"year":   2010,
"prevalencia": "17,138",
"fillKey": "[12620,19451]" 
},
"CHIS": {
 "state_code": 7,
"name": "CHIS",
"state_name": "Chiapas",
"year":   2010,
"prevalencia": "12,856",
"fillKey": "[12620,19451]" 
},
"CHIH": {
 "state_code": 8,
"name": "CHIH",
"state_name": "Chihuahua",
"year":   2010,
"prevalencia": "34,826",
"fillKey": "(28861,41048]" 
},
"DF": {
 "state_code": 9,
"name": "DF",
"state_name": "Distrito Federal",
"year":   2010,
"prevalencia": "32,495",
"fillKey": "(28861,41048]" 
},
"DUR": {
 "state_code": 10,
"name": "DUR",
"state_name": "Durango",
"year":   2010,
"prevalencia": "20,598",
"fillKey": "(19451,21576]" 
},
"GTO": {
 "state_code": 11,
"name": "GTO",
"state_name": "Guanajuato",
"year":   2010,
"prevalencia": "20,890",
"fillKey": "(19451,21576]" 
},
"GRO": {
 "state_code": 12,
"name": "GRO",
"state_name": "Guerrero",
"year":   2010,
"prevalencia": "20,172",
"fillKey": "(19451,21576]" 
},
"HGO": {
 "state_code": 13,
"name": "HGO",
"state_name": "Hidalgo",
"year":   2010,
"prevalencia": "20,699",
"fillKey": "(19451,21576]" 
},
"JAL": {
 "state_code": 14,
"name": "JAL",
"state_name": "Jalisco",
"year":   2010,
"prevalencia": "24,452",
"fillKey": "(21576,24753]" 
},
"MEX": {
 "state_code": 15,
"name": "MEX",
"state_name": "Estado de Mü¾Œƒ¤¼ü¾Ž–„¼xico",
"year":   2010,
"prevalencia": "27,908",
"fillKey": "(24753,28861]" 
},
"MICH": {
 "state_code": 16,
"name": "MICH",
"state_name": "Michoacü¾Œƒ¤¼ü¾™ƒ ¼n de Ocampo",
"year":   2010,
"prevalencia": "14,931",
"fillKey": "[12620,19451]" 
},
"MOR": {
 "state_code": 17,
"name": "MOR",
"state_name": "Morelos",
"year":   2010,
"prevalencia": "21,925",
"fillKey": "(21576,24753]" 
},
"NAY": {
 "state_code": 18,
"name": "NAY",
"state_name": "Nayarit",
"year":   2010,
"prevalencia": "23,224",
"fillKey": "(21576,24753]" 
},
"NL": {
 "state_code": 19,
"name": "NL",
"state_name": "Nuevo Leü¾Œƒ¤¼_n",
"year":   2010,
"prevalencia": "27,310",
"fillKey": "(24753,28861]" 
},
"OAX": {
 "state_code": 20,
"name": "OAX",
"state_name": "Oaxaca",
"year":   2010,
"prevalencia": "16,262",
"fillKey": "[12620,19451]" 
},
"PUE": {
 "state_code": 21,
"name": "PUE",
"state_name": "Puebla",
"year":   2010,
"prevalencia": "21,707",
"fillKey": "(21576,24753]" 
},
"QR": {
 "state_code": 22,
"name": "QR",
"state_name": "Querü¾Œƒ¤¼ü¾Ž–„¼taro",
"year":   2010,
"prevalencia": "19,675",
"fillKey": "(19451,21576]" 
},
"QROO": {
 "state_code": 23,
"name": "QROO",
"state_name": "Quintana Roo",
"year":   2010,
"prevalencia": "28,740",
"fillKey": "(24753,28861]" 
},
"SLP": {
 "state_code": 24,
"name": "SLP",
"state_name": "San Luis Potosü¾Œƒ¤¼_",
"year":   2010,
"prevalencia": "22,636",
"fillKey": "(21576,24753]" 
},
"SIN": {
 "state_code": 25,
"name": "SIN",
"state_name": "Sinaloa",
"year":   2010,
"prevalencia": "26,373",
"fillKey": "(24753,28861]" 
},
"SON": {
 "state_code": 26,
"name": "SON",
"state_name": "Sonora",
"year":   2010,
"prevalencia": "29,285",
"fillKey": "(28861,41048]" 
},
"TAB": {
 "state_code": 27,
"name": "TAB",
"state_name": "Tabasco",
"year":   2010,
"prevalencia": "25,074",
"fillKey": "(24753,28861]" 
},
"TAM": {
 "state_code": 28,
"name": "TAM",
"state_name": "Tamaulipas",
"year":   2010,
"prevalencia": "22,647",
"fillKey": "(21576,24753]" 
},
"TLA": {
 "state_code": 29,
"name": "TLA",
"state_name": "Tlaxcala",
"year":   2010,
"prevalencia": "20,721",
"fillKey": "(19451,21576]" 
},
"VER": {
 "state_code": 30,
"name": "VER",
"state_name": "Veracruz de Ignacio de la Llave",
"year":   2010,
"prevalencia": "16,437",
"fillKey": "[12620,19451]" 
},
"YUC": {
 "state_code": 31,
"name": "YUC",
"state_name": "Yucatü¾Œƒ¤¼ü¾™ƒ ¼n",
"year":   2010,
"prevalencia": "17,826",
"fillKey": "[12620,19451]" 
},
"ZAC": {
 "state_code": 32,
"name": "ZAC",
"state_name": "Zacatecas",
"year":   2010,
"prevalencia": "22,747",
"fillKey": "(21576,24753]" 
} 
},
"legend": true,
"id": "chart_1",
"newData": {
 "2010": {
 "AGS": {
 "state_code": 1,
"name": "AGS",
"state_name": "Aguascalientes",
"year":   2010,
"prevalencia": "36,387",
"fillKey": "(28861,41048]" 
},
"BC": {
 "state_code": 2,
"name": "BC",
"state_name": "Baja California",
"year":   2010,
"prevalencia": "30,753",
"fillKey": "(28861,41048]" 
},
"BCS": {
 "state_code": 3,
"name": "BCS",
"state_name": "Baja California Sur",
"year":   2010,
"prevalencia": "23,328",
"fillKey": "(21576,24753]" 
},
"CAM": {
 "state_code": 4,
"name": "CAM",
"state_name": "Campeche",
"year":   2010,
"prevalencia": "17,321",
"fillKey": "[12620,19451]" 
},
"COA": {
 "state_code": 5,
"name": "COA",
"state_name": "Coahuila de Zaragoza",
"year":   2010,
"prevalencia": "25,250",
"fillKey": "(24753,28861]" 
},
"COL": {
 "state_code": 6,
"name": "COL",
"state_name": "Colima",
"year":   2010,
"prevalencia": "17,138",
"fillKey": "[12620,19451]" 
},
"CHIS": {
 "state_code": 7,
"name": "CHIS",
"state_name": "Chiapas",
"year":   2010,
"prevalencia": "12,856",
"fillKey": "[12620,19451]" 
},
"CHIH": {
 "state_code": 8,
"name": "CHIH",
"state_name": "Chihuahua",
"year":   2010,
"prevalencia": "34,826",
"fillKey": "(28861,41048]" 
},
"DF": {
 "state_code": 9,
"name": "DF",
"state_name": "Distrito Federal",
"year":   2010,
"prevalencia": "32,495",
"fillKey": "(28861,41048]" 
},
"DUR": {
 "state_code": 10,
"name": "DUR",
"state_name": "Durango",
"year":   2010,
"prevalencia": "20,598",
"fillKey": "(19451,21576]" 
},
"GTO": {
 "state_code": 11,
"name": "GTO",
"state_name": "Guanajuato",
"year":   2010,
"prevalencia": "20,890",
"fillKey": "(19451,21576]" 
},
"GRO": {
 "state_code": 12,
"name": "GRO",
"state_name": "Guerrero",
"year":   2010,
"prevalencia": "20,172",
"fillKey": "(19451,21576]" 
},
"HGO": {
 "state_code": 13,
"name": "HGO",
"state_name": "Hidalgo",
"year":   2010,
"prevalencia": "20,699",
"fillKey": "(19451,21576]" 
},
"JAL": {
 "state_code": 14,
"name": "JAL",
"state_name": "Jalisco",
"year":   2010,
"prevalencia": "24,452",
"fillKey": "(21576,24753]" 
},
"MEX": {
 "state_code": 15,
"name": "MEX",
"state_name": "Estado de Mü¾Œƒ¤¼ü¾Ž–„¼xico",
"year":   2010,
"prevalencia": "27,908",
"fillKey": "(24753,28861]" 
},
"MICH": {
 "state_code": 16,
"name": "MICH",
"state_name": "Michoacü¾Œƒ¤¼ü¾™ƒ ¼n de Ocampo",
"year":   2010,
"prevalencia": "14,931",
"fillKey": "[12620,19451]" 
},
"MOR": {
 "state_code": 17,
"name": "MOR",
"state_name": "Morelos",
"year":   2010,
"prevalencia": "21,925",
"fillKey": "(21576,24753]" 
},
"NAY": {
 "state_code": 18,
"name": "NAY",
"state_name": "Nayarit",
"year":   2010,
"prevalencia": "23,224",
"fillKey": "(21576,24753]" 
},
"NL": {
 "state_code": 19,
"name": "NL",
"state_name": "Nuevo Leü¾Œƒ¤¼_n",
"year":   2010,
"prevalencia": "27,310",
"fillKey": "(24753,28861]" 
},
"OAX": {
 "state_code": 20,
"name": "OAX",
"state_name": "Oaxaca",
"year":   2010,
"prevalencia": "16,262",
"fillKey": "[12620,19451]" 
},
"PUE": {
 "state_code": 21,
"name": "PUE",
"state_name": "Puebla",
"year":   2010,
"prevalencia": "21,707",
"fillKey": "(21576,24753]" 
},
"QR": {
 "state_code": 22,
"name": "QR",
"state_name": "Querü¾Œƒ¤¼ü¾Ž–„¼taro",
"year":   2010,
"prevalencia": "19,675",
"fillKey": "(19451,21576]" 
},
"QROO": {
 "state_code": 23,
"name": "QROO",
"state_name": "Quintana Roo",
"year":   2010,
"prevalencia": "28,740",
"fillKey": "(24753,28861]" 
},
"SLP": {
 "state_code": 24,
"name": "SLP",
"state_name": "San Luis Potosü¾Œƒ¤¼_",
"year":   2010,
"prevalencia": "22,636",
"fillKey": "(21576,24753]" 
},
"SIN": {
 "state_code": 25,
"name": "SIN",
"state_name": "Sinaloa",
"year":   2010,
"prevalencia": "26,373",
"fillKey": "(24753,28861]" 
},
"SON": {
 "state_code": 26,
"name": "SON",
"state_name": "Sonora",
"year":   2010,
"prevalencia": "29,285",
"fillKey": "(28861,41048]" 
},
"TAB": {
 "state_code": 27,
"name": "TAB",
"state_name": "Tabasco",
"year":   2010,
"prevalencia": "25,074",
"fillKey": "(24753,28861]" 
},
"TAM": {
 "state_code": 28,
"name": "TAM",
"state_name": "Tamaulipas",
"year":   2010,
"prevalencia": "22,647",
"fillKey": "(21576,24753]" 
},
"TLA": {
 "state_code": 29,
"name": "TLA",
"state_name": "Tlaxcala",
"year":   2010,
"prevalencia": "20,721",
"fillKey": "(19451,21576]" 
},
"VER": {
 "state_code": 30,
"name": "VER",
"state_name": "Veracruz de Ignacio de la Llave",
"year":   2010,
"prevalencia": "16,437",
"fillKey": "[12620,19451]" 
},
"YUC": {
 "state_code": 31,
"name": "YUC",
"state_name": "Yucatü¾Œƒ¤¼ü¾™ƒ ¼n",
"year":   2010,
"prevalencia": "17,826",
"fillKey": "[12620,19451]" 
},
"ZAC": {
 "state_code": 32,
"name": "ZAC",
"state_name": "Zacatecas",
"year":   2010,
"prevalencia": "22,747",
"fillKey": "(21576,24753]" 
} 
},
"2011": {
 "AGS": {
 "state_code": 1,
"name": "AGS",
"state_name": "Aguascalientes",
"year":   2011,
"prevalencia": "25,665",
"fillKey": "(24753,28861]" 
},
"BC": {
 "state_code": 2,
"name": "BC",
"state_name": "Baja California",
"year":   2011,
"prevalencia": "30,588",
"fillKey": "(28861,41048]" 
},
"BCS": {
 "state_code": 3,
"name": "BCS",
"state_name": "Baja California Sur",
"year":   2011,
"prevalencia": "27,019",
"fillKey": "(24753,28861]" 
},
"CAM": {
 "state_code": 4,
"name": "CAM",
"state_name": "Campeche",
"year":   2011,
"prevalencia": "17,280",
"fillKey": "[12620,19451]" 
},
"COA": {
 "state_code": 5,
"name": "COA",
"state_name": "Coahuila de Zaragoza",
"year":   2011,
"prevalencia": "22,945",
"fillKey": "(21576,24753]" 
},
"COL": {
 "state_code": 6,
"name": "COL",
"state_name": "Colima",
"year":   2011,
"prevalencia": "22,193",
"fillKey": "(21576,24753]" 
},
"CHIS": {
 "state_code": 7,
"name": "CHIS",
"state_name": "Chiapas",
"year":   2011,
"prevalencia": "12,621",
"fillKey": "[12620,19451]" 
},
"CHIH": {
 "state_code": 8,
"name": "CHIH",
"state_name": "Chihuahua",
"year":   2011,
"prevalencia": "30,455",
"fillKey": "(28861,41048]" 
},
"DF": {
 "state_code": 9,
"name": "DF",
"state_name": "Distrito Federal",
"year":   2011,
"prevalencia": "33,256",
"fillKey": "(28861,41048]" 
},
"DUR": {
 "state_code": 10,
"name": "DUR",
"state_name": "Durango",
"year":   2011,
"prevalencia": "20,111",
"fillKey": "(19451,21576]" 
},
"GTO": {
 "state_code": 11,
"name": "GTO",
"state_name": "Guanajuato",
"year":   2011,
"prevalencia": "24,753",
"fillKey": "(21576,24753]" 
},
"GRO": {
 "state_code": 12,
"name": "GRO",
"state_name": "Guerrero",
"year":   2011,
"prevalencia": "20,497",
"fillKey": "(19451,21576]" 
},
"HGO": {
 "state_code": 13,
"name": "HGO",
"state_name": "Hidalgo",
"year":   2011,
"prevalencia": "21,821",
"fillKey": "(21576,24753]" 
},
"JAL": {
 "state_code": 14,
"name": "JAL",
"state_name": "Jalisco",
"year":   2011,
"prevalencia": "26,181",
"fillKey": "(24753,28861]" 
},
"MEX": {
 "state_code": 15,
"name": "MEX",
"state_name": "Estado de Mü¾Œƒ¤¼ü¾Ž–„¼xico",
"year":   2011,
"prevalencia": "31,018",
"fillKey": "(28861,41048]" 
},
"MICH": {
 "state_code": 16,
"name": "MICH",
"state_name": "Michoacü¾Œƒ¤¼ü¾™ƒ ¼n de Ocampo",
"year":   2011,
"prevalencia": "21,040",
"fillKey": "(19451,21576]" 
},
"MOR": {
 "state_code": 17,
"name": "MOR",
"state_name": "Morelos",
"year":   2011,
"prevalencia": "22,982",
"fillKey": "(21576,24753]" 
},
"NAY": {
 "state_code": 18,
"name": "NAY",
"state_name": "Nayarit",
"year":   2011,
"prevalencia": "20,877",
"fillKey": "(19451,21576]" 
},
"NL": {
 "state_code": 19,
"name": "NL",
"state_name": "Nuevo Leü¾Œƒ¤¼_n",
"year":   2011,
"prevalencia": "24,991",
"fillKey": "(24753,28861]" 
},
"OAX": {
 "state_code": 20,
"name": "OAX",
"state_name": "Oaxaca",
"year":   2011,
"prevalencia": "18,129",
"fillKey": "[12620,19451]" 
},
"PUE": {
 "state_code": 21,
"name": "PUE",
"state_name": "Puebla",
"year":   2011,
"prevalencia": "23,053",
"fillKey": "(21576,24753]" 
},
"QR": {
 "state_code": 22,
"name": "QR",
"state_name": "Querü¾Œƒ¤¼ü¾Ž–„¼taro",
"year":   2011,
"prevalencia": "21,576",
"fillKey": "(19451,21576]" 
},
"QROO": {
 "state_code": 23,
"name": "QROO",
"state_name": "Quintana Roo",
"year":   2011,
"prevalencia": "26,829",
"fillKey": "(24753,28861]" 
},
"SLP": {
 "state_code": 24,
"name": "SLP",
"state_name": "San Luis Potosü¾Œƒ¤¼_",
"year":   2011,
"prevalencia": "24,847",
"fillKey": "(24753,28861]" 
},
"SIN": {
 "state_code": 25,
"name": "SIN",
"state_name": "Sinaloa",
"year":   2011,
"prevalencia": "23,948",
"fillKey": "(21576,24753]" 
},
"SON": {
 "state_code": 26,
"name": "SON",
"state_name": "Sonora",
"year":   2011,
"prevalencia": "29,974",
"fillKey": "(28861,41048]" 
},
"TAB": {
 "state_code": 27,
"name": "TAB",
"state_name": "Tabasco",
"year":   2011,
"prevalencia": "19,612",
"fillKey": "(19451,21576]" 
},
"TAM": {
 "state_code": 28,
"name": "TAM",
"state_name": "Tamaulipas",
"year":   2011,
"prevalencia": "18,126",
"fillKey": "[12620,19451]" 
},
"TLA": {
 "state_code": 29,
"name": "TLA",
"state_name": "Tlaxcala",
"year":   2011,
"prevalencia": "18,362",
"fillKey": "[12620,19451]" 
},
"VER": {
 "state_code": 30,
"name": "VER",
"state_name": "Veracruz de Ignacio de la Llave",
"year":   2011,
"prevalencia": "17,820",
"fillKey": "[12620,19451]" 
},
"YUC": {
 "state_code": 31,
"name": "YUC",
"state_name": "Yucatü¾Œƒ¤¼ü¾™ƒ ¼n",
"year":   2011,
"prevalencia": "14,832",
"fillKey": "[12620,19451]" 
},
"ZAC": {
 "state_code": 32,
"name": "ZAC",
"state_name": "Zacatecas",
"year":   2011,
"prevalencia": "21,146",
"fillKey": "(19451,21576]" 
} 
},
"2012": {
 "AGS": {
 "state_code": 1,
"name": "AGS",
"state_name": "Aguascalientes",
"year":   2012,
"prevalencia": "27,225",
"fillKey": "(24753,28861]" 
},
"BC": {
 "state_code": 2,
"name": "BC",
"state_name": "Baja California",
"year":   2012,
"prevalencia": "36,579",
"fillKey": "(28861,41048]" 
},
"BCS": {
 "state_code": 3,
"name": "BCS",
"state_name": "Baja California Sur",
"year":   2012,
"prevalencia": "27,043",
"fillKey": "(24753,28861]" 
},
"CAM": {
 "state_code": 4,
"name": "CAM",
"state_name": "Campeche",
"year":   2012,
"prevalencia": "21,991",
"fillKey": "(21576,24753]" 
},
"COA": {
 "state_code": 5,
"name": "COA",
"state_name": "Coahuila de Zaragoza",
"year":   2012,
"prevalencia": "19,540",
"fillKey": "(19451,21576]" 
},
"COL": {
 "state_code": 6,
"name": "COL",
"state_name": "Colima",
"year":   2012,
"prevalencia": "24,908",
"fillKey": "(24753,28861]" 
},
"CHIS": {
 "state_code": 7,
"name": "CHIS",
"state_name": "Chiapas",
"year":   2012,
"prevalencia": "12,620",
"fillKey": "[12620,19451]" 
},
"CHIH": {
 "state_code": 8,
"name": "CHIH",
"state_name": "Chihuahua",
"year":   2012,
"prevalencia": "32,567",
"fillKey": "(28861,41048]" 
},
"DF": {
 "state_code": 9,
"name": "DF",
"state_name": "Distrito Federal",
"year":   2012,
"prevalencia": "31,675",
"fillKey": "(28861,41048]" 
},
"DUR": {
 "state_code": 10,
"name": "DUR",
"state_name": "Durango",
"year":   2012,
"prevalencia": "24,232",
"fillKey": "(21576,24753]" 
},
"GTO": {
 "state_code": 11,
"name": "GTO",
"state_name": "Guanajuato",
"year":   2012,
"prevalencia": "28,861",
"fillKey": "(24753,28861]" 
},
"GRO": {
 "state_code": 12,
"name": "GRO",
"state_name": "Guerrero",
"year":   2012,
"prevalencia": "26,789",
"fillKey": "(24753,28861]" 
},
"HGO": {
 "state_code": 13,
"name": "HGO",
"state_name": "Hidalgo",
"year":   2012,
"prevalencia": "19,451",
"fillKey": "[12620,19451]" 
},
"JAL": {
 "state_code": 14,
"name": "JAL",
"state_name": "Jalisco",
"year":   2012,
"prevalencia": "31,861",
"fillKey": "(28861,41048]" 
},
"MEX": {
 "state_code": 15,
"name": "MEX",
"state_name": "Estado de Mü¾Œƒ¤¼ü¾Ž–„¼xico",
"year":   2012,
"prevalencia": "41,048",
"fillKey": "(28861,41048]" 
},
"MICH": {
 "state_code": 16,
"name": "MICH",
"state_name": "Michoacü¾Œƒ¤¼ü¾™ƒ ¼n de Ocampo",
"year":   2012,
"prevalencia": "20,354",
"fillKey": "(19451,21576]" 
},
"MOR": {
 "state_code": 17,
"name": "MOR",
"state_name": "Morelos",
"year":   2012,
"prevalencia": "29,310",
"fillKey": "(28861,41048]" 
},
"NAY": {
 "state_code": 18,
"name": "NAY",
"state_name": "Nayarit",
"year":   2012,
"prevalencia": "19,169",
"fillKey": "[12620,19451]" 
},
"NL": {
 "state_code": 19,
"name": "NL",
"state_name": "Nuevo Leü¾Œƒ¤¼_n",
"year":   2012,
"prevalencia": "31,316",
"fillKey": "(28861,41048]" 
},
"OAX": {
 "state_code": 20,
"name": "OAX",
"state_name": "Oaxaca",
"year":   2012,
"prevalencia": "14,335",
"fillKey": "[12620,19451]" 
},
"PUE": {
 "state_code": 21,
"name": "PUE",
"state_name": "Puebla",
"year":   2012,
"prevalencia": "22,733",
"fillKey": "(21576,24753]" 
},
"QR": {
 "state_code": 22,
"name": "QR",
"state_name": "Querü¾Œƒ¤¼ü¾Ž–„¼taro",
"year":   2012,
"prevalencia": "24,002",
"fillKey": "(21576,24753]" 
},
"QROO": {
 "state_code": 23,
"name": "QROO",
"state_name": "Quintana Roo",
"year":   2012,
"prevalencia": "29,703",
"fillKey": "(28861,41048]" 
},
"SLP": {
 "state_code": 24,
"name": "SLP",
"state_name": "San Luis Potosü¾Œƒ¤¼_",
"year":   2012,
"prevalencia": "26,810",
"fillKey": "(24753,28861]" 
},
"SIN": {
 "state_code": 25,
"name": "SIN",
"state_name": "Sinaloa",
"year":   2012,
"prevalencia": "26,141",
"fillKey": "(24753,28861]" 
},
"SON": {
 "state_code": 26,
"name": "SON",
"state_name": "Sonora",
"year":   2012,
"prevalencia": "29,131",
"fillKey": "(28861,41048]" 
},
"TAB": {
 "state_code": 27,
"name": "TAB",
"state_name": "Tabasco",
"year":   2012,
"prevalencia": "20,837",
"fillKey": "(19451,21576]" 
},
"TAM": {
 "state_code": 28,
"name": "TAM",
"state_name": "Tamaulipas",
"year":   2012,
"prevalencia": "21,407",
"fillKey": "(19451,21576]" 
},
"TLA": {
 "state_code": 29,
"name": "TLA",
"state_name": "Tlaxcala",
"year":   2012,
"prevalencia": "18,150",
"fillKey": "[12620,19451]" 
},
"VER": {
 "state_code": 30,
"name": "VER",
"state_name": "Veracruz de Ignacio de la Llave",
"year":   2012,
"prevalencia": "18,733",
"fillKey": "[12620,19451]" 
},
"YUC": {
 "state_code": 31,
"name": "YUC",
"state_name": "Yucatü¾Œƒ¤¼ü¾™ƒ ¼n",
"year":   2012,
"prevalencia": "19,548",
"fillKey": "(19451,21576]" 
},
"ZAC": {
 "state_code": 32,
"name": "ZAC",
"state_name": "Zacatecas",
"year":   2012,
"prevalencia": "20,337",
"fillKey": "(19451,21576]" 
} 
} 
} 
}
  chartParams.element = document.getElementById('chart_1')
  
  
  var mapchart_1 = new Datamap(chartParams);
  
  
    
  // draw a bubble map if specified
  if (chartParams.bubbles) {
    var bubbles = chartParams.bubbles
    mapchart_1.bubbles(bubbles)
  }
  
  if (chartParams.labels){
    mapchart_1.labels()
  }
  
  if (chartParams.legend){
    mapchart_1.legend()
  }
  
  setProjection = function( element, options ) {
    var projection, path;
 
      projection = d3.geo.albersUsa()
        .scale(element.offsetWidth)
        .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
 
    path = d3.geo.path()
      .projection( projection );
 
    return {path: path, projection: projection};
  }
</script>

<style>
.datamaps {
  position: relative;
}
</style>
    
    <script></script>    
  </body>
</html>
